header {
    text-align: left;
    height: 35px;
    margin: 3px 3px 25px 3px;
}

header > img {
    display: inline-block;
    text-align: left;
    width: 200px;
}

nav {
    position: relative;
    float: right;
}

#dd-imgcontainer {
    width: 35px;
    height: 35px;
    border-style: dashed;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: .15s;
    transition-delay: 0s;
}

nav:hover #dd-imgcontainer {
    background-color: rgb(185, 185, 185);
    border-style: solid solid double solid;
}

#dd-img {
    width: 35px;
    height: 35px;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: .1s;
    transition-delay: .0s;
}

nav:hover #dd-img {
    transform: rotate(90deg);
}

#dd-content {
    display: block;
    visibility: hidden;
    position: absolute;
    right: 0;
    margin: 0px;
    min-width: 140px;
    text-align: right;
    float: right;
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    z-index: 1;
    opacity: 0;
    transition-property: opacity, visibility;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-duration: .15s, .15s;
    transition-delay: 0s, 0s;
}

nav:hover #dd-content, nav:focus #dd-content, nav:active #dd-content {
    visibility: visible;
    opacity: 1;
}

#dd-content a {
    display: block;
    color: white;
    text-decoration: none;
    line-height: 170%;
    padding: 0px 4px;
}

#dd-content a.current {
    text-decoration: underline;
}

#dd-content a:hover, #dd-content a:active {
    background-color: #273746;
    border-radius: 1px;
}

section {
    text-align: left;
}

section > h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.33rem;
    font-style: normal;
    text-align: left;
}

section h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 1px 2px 2px 2px
}

section p {
    font-size: 13px;
    font-family: Helvetica, sans-serif;
}

section > p > a {
    text-decoration: none;
    color: #0500ee;
}

section > p > a:hover {
    background-color: #fbff0063;
    border-radius: 3px;
}

section ul li {
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    margin: 6px 1px;
}

footer {
    width: 80%;
    font-size: 9px;
    text-align: center;
    margin: 25px auto;
}

code {
    background-color: #FEF9E7;
}

.command {
    padding: 6px;
    margin: 7px 0px 0px 0px;
    border-style: solid;
    border-color: #D5D8DC;
    border-width: 1px;
    border-radius: 2px;
}

ol {
    font-family: sans-serif;
    font-size: 91%;
}

ol li {
    margin: 10px;
}

#boardlayout {
    max-width: 100%;
    border-style: solid;
    border-width: 1px;
}

h3 {
    margin: 4px 0px 0px 1px;
}

.assemblyimg {
    display: block;
    max-width: 95%;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    box-sizing: border-box;
}